.homeContainer{
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
  }
  #homewrap {
    overflow: hidden;
  }

  .destination{
    padding-top: 20px;
    padding-bottom: 200px;
  }