h2 {
    color: white;
    margin: 10px 10px 10px 10px;
}
span {
    color: white;
    margin: 10px 10px 10px 10px;
}
#destwrap{
    overflow: hidden;
    align-items: center;
}
.dest-container {
    background-color: rgba(254, 187, 2, 0.7);
    width: max-content;
    align-items: center;
    justify-content: center;
    position: absolute;
    height: 380px;
    left: 150px;
    top: 480px;
    overflow: hidden;
}

/* #usersearch input {
    width: 100%;
} */

input {
    width: 40%;
    margin: 12px 12px 12px 12px;
    height: 30px;
    padding-left: 10px;
}
#usersearch{
    width: 85%;
}
a {
    text-decoration: none;
    color: white;
    background-color: #7b5c06;
    width: 100%;
    height: 45px;
    margin-top: 3px;
    cursor: pointer;
    border: none;
    text-align: center;
    display: inline-block;
    padding-top: 10px;
    padding-bottom: 10px;
}
/* .submitDest {
    width: 100%;
    height: 45px;
    margin-top: 32px;
    cursor: pointer;
    border: none;
    color: white;
    background-color: #bc9a39;

} */
a:hover {
    background-color: #003580;
}

