.errorFullPage{
    height: 100%;
}

.errorPage{
    align-self: center;
    align-content: center;
    text-align: center;
    margin-bottom: 20%;
}

.error404{
    padding-top: 70px;
    color: black;
    font-size: 70px;
}

.errorLine{
    font-size: 30px;
}
.button{
    width: fit-content;
    align-items: center;
    margin: auto;
}

.homepage{
    color: #003580;
    font-size: 20px;
}