h2 {
    color: white;
    margin: 10px 10px 10px 10px;
}
span {
    color: white;
    margin: 10px 10px 10px 10px;
}

.destform{
    width: 370px;
}

.dest-container {
    background-color: #febb02;
    width:70px;
    align-items: center;
    justify-content: center;
}

.lsItem{
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin-bottom: 10px;
}


.lsItem>span{
  height: 30px;
  padding: 5px;
  background-color: white;
  display: flex;
  align-items: center;
  cursor: pointer;
}

input {
    width: 40%;
    margin: 10px 10px 10px 10px;
    height: 30px;
    padding-left: 10px;
}

.usersearch input{
    width: 100%;
}
button {
    width: 100%;
    height: 30px;
    margin-top: 10px;
    cursor: pointer;
    border: none;
    color: white;
    background-color: #bc9a39;
}
button:hover {
    background-color: #e4d2a0;
}